<!DOCTYPE  html>

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>paola prueba</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<!--ng-app hace referencia al nombre de nuestro modulo-->
		<!--añadimos aquí el controlador appController ya que será donde mostremos los datos-->
		<div class="row" ng-app="app" ng-controller="appController">
            <h1 class="subheader">Consumir un json con $http en AngularJS</h1>
            <ul class="panel callout radius">
                <li ng-repeat="data in datos">
										<p>city: {{ data.city }}</p>
                    <p>Id: {{ data.id }} Nombre: {{ data.nombre }} Profesión: {{ data.profesion }}</p>
                </li>
            </ul>

            <h1 class="subheader">Consumir un json con resource en AngularJS</h1>
            <ul class="panel callout radius">
                <li ng-repeat="data in datosResource">
                    <p>Id: {{ data.id }} Nombre: {{ data.nombre }} Profesión: {{ data.profesion }}</p>
                </li>
            </ul>
		</div>
	</body>
</html>
